.navBar{
    height: 100px;
    background-color: #1C79CF;
}
.navBarList{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navBarList > li{
    color: aliceblue;
    margin: 25px;
}
.movieIcon{
  padding-top: 0.5em;
    color: aliceblue;
}
.sideNavBar{
    padding-top: 1.0em;
    background-color: #D9D9D9;
    /* height: 150px; */
    width: 20%;
}
.contentBody{
    display: flex;
    height: 500px;
}